* {
    font-family: 'OCR A Extended', sans-serif;
    font-size: 18px;
}




.main-image img {
    position:absolute;
    top: 10px;
    right: 400px;
    margin-top: 40px;
    box-shadow: #232323, bottom, right, 3;
}

.main-image img {
    width:500px;
    height:500px;
    border-radius: 50%;
    box-shadow: 10px 10px darkblue;
}

h1 {
  color:black;  
  font-size: 48px;
  font-family: 'Old English Five', sans-serif;                                            
}

#title {
    text-emphasis-color: solid black ;position: fixed;
    border-color: black;
    border-radius: 150px;
    max-width: 500px;
    box-sizing: border-box 200px;
    top: 100px;
    right: 25px;
    background: white;
    opacity: 75%;
}

#title h1,h2 {
    line-height: 1.2;
    word-wrap: normal;
    padding-top: 0px;
    padding-left: 3px;
    text-align: center;
    color: #000;
}

#title h3 {
    color: #000;
    text-align: center;
    font-weight: bolder;
}

#title h3 span.source  {
    line-height: 1;
    word-wrap: normal;
    padding-top: 0px;
    padding-left: 3px;
    text-align: center;
    color: blue;
}

nav {
    position: fixed;
    z-index: 4;
}

/* Beggining of CSS code for nav menu. By Erik Terwin. */
/* If you are thinking of using this in
* production code, beware of the browser
* prefixes.
*/
body
{
z-index: 1;
background-image: url("../pics/NYC_Snowfall.gif");
background-size: cover;
 margin: 0;
 padding: 0;
 
 /* make it look decent enough */

 font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle
{
 display: block;
 position: fixed;
 top: 50px;
 left: 50px;
 
 z-index: 1000;
 
 -webkit-user-select: none;
 user-select: none;
}

#menuToggle a
{
 text-decoration: none;
 color: #232323;
 
 transition: color 0.3s ease;
}

#menuToggle a:hover
{
 color: tomato;
}


#menuToggle input
{
 display: block;
 width: 40px;
 height: 32px;
 position: fixed;
 top: 40px;
 left: 43px;
 
 user-select: none;
 cursor: pointer;
 
 opacity: 0; /* hide this */
 z-index: 1002; /* and place it over the hamburger */
 
 -webkit-touch-callout: none;
}

/*
* Just a quick hamburger
*/
#menuToggle span
{
 display: block;
 width: 33px;
 height: 4px;
 margin-bottom: 5px;
 position: relative;
 
 background: #cdcdcd;
 border-radius: 3px;
 
 z-index: 1002;
 
 transform-origin: 4px 0px;
 
 transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
             opacity 0.55s ease;
}

#menuToggle span:first-child
{
 transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
 transform-origin: 0% 100%;
}

/* 
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span
{
 opacity: 1;
 transform: rotate(45deg) translate(-2px, -1px);
 background: #232323;
}

/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3)
{
 opacity: 0;
 transform: rotate(0deg) scale(0.2, 0.2);
}

/*
* Ohyeah and the last one should go the other direction
*/
#menuToggle input:checked ~ span:nth-last-child(2)
{
 transform: rotate(-45deg) translate(0, -1px);
}

/*
* Make this absolute positioned
* at the top left of the screen
*/
#menu
{
 position: fixed;
 z-index: 1000;
 width: 300px;
 margin: -100px 0 0 -50px;
 padding: 50px;
 padding-top: 125px;
 
 background: #ededed;
 list-style-type: none;
 -webkit-font-smoothing: antialiased;
 /* to stop flickering of text in safari */
 
 transform-origin: 0% 0%;
 transform: translate(-100%, 0);
 
 transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
 padding: 10px 0;
 font-size: 22px;
}

/*
* And let's slide it in from the left
*/
#menuToggle input:checked ~ ul
{
 transform: none;
}

/* end of copied code  */

#intro {
    display: flex;
    box-sizing: content-box ;
    width: 400px;
    margin-top: 300px;
    margin-left: 150px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    color: black;
    background-color: plum;
    opacity: 60%;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2;
}

#intro p {
    opacity: 100%;
    font-weight: bolder;
    z-index: 3;
}

#intro h3 {
    font-size: larger;
    font-weight: bolder;
}

.separator {
   font-weight: bold;
   font-size: x-large;
}

#sig {
    font-family: 'Gerald Fletchery', sans-serif;
    opacity: 100%;
    font-weight: bolder;
    font-size: 50px;
}

#main-showcase {
    display: flex;
}

#project-1 {
    background-image:url("../pics/ABBA.jpg");
    background-size: cover;
    height: 105px;
    width: 100px;
    padding: 50px;
    margin-left: 50px;
    position:relative;
    border-radius: 20%;
}



#project-2 {
    background-image:url("../pics/SpaceJunkiesMain.png");
    background-size: cover;
    transition:cubic-bezier(0.86, 0.15, 0.135, 0.785);
    transition-duration: 2s;
    height: 200px;
    width: 200px;
    padding: 50px;
    margin-left: 50px;
    border-radius: 20%;
    opacity: 75%;
    position: relative;
    z-index: 2;
}

box.p1 {
    display: flex;
    position: absolute;
    text-align: center;
    background-color: darkgray;
    top:150px;
    left:0%;
    bottom: 0;
    padding-top: 15px;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
}

box.p2 {
    display: flex;
    position: absolute;
    text-align: center;
    top: 200px;
    left: 0%;
    bottom: 0;
    padding-top: 15px;
    background-color: darkgrey;
    z-index: 4;
    font-size: x-large;
    color:#000;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
}

box.p2 strong {
    font-weight: bolder;
    font-size: x-large;
}

.grow { 
    transition: all .2s ease-in-out; 
    }
    
.grow:hover { 
    transform: scale(1.2); 
    }

footer {
    background-color: #3e3e3e;
   padding-top: 10px;
   padding-bottom: 18px;
   margin-top: 20px;
   margin-bottom: 0%;
    opacity: 75%;
    color: snow;
    text-align: center;
}